@charset "utf-8";

* {margin: 0; padding: 0; box-sizing: border-box;}
li {list-style: none;}
a {
    text-decoration: none;
    color: inherit;
}
body {
    line-height: 1;
    color: #333;
}
/* .mobile */
.mobile {display: none;}
.inner {
    max-width: 1440px;
    width: 95%;
    margin: 0 auto;
}


/* header */
header {height: 100px;}
header .inner {  
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 25px;
}
header .pc_gnb {
    height: 100%;
    
}
header .pc_gnb .gnb {
    height: 100%;
    display: flex;
    text-align: center;
    align-items: center;
}
header .pc_gnb .gnb > li {
    height: 100%;
    padding: 0 40px;
    position: relative;
}
header .pc_gnb .gnb > li > a { 
    height: 100%;
    display: flex;
    align-items: center;
}

header .pc_gnb .gnb > li > ul {
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    width: 100%;
    position: absolute;
    top: 100px;
    left: 0;
    padding: 20px 0;
    z-index: 99;
    display: none;
}
header .pc_gnb .gnb > li > ul > li {
     
}
header .pc_gnb .gnb > li > ul > li > a {
    padding: 10px 0;
    display: block;
}

header .right_gnb {
    display: flex;
}
header .right_gnb li {
    margin-left: 20px;
}

.main_visual {
    height: 80vh;
    width: 100%;
}




/* 슬라이드 영역 시작 */
.main_visual .slides_wrap {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.main_visual .slides_wrap .slides {
    width: calc(100% * 3);
    /* 스크립트로 계산가능함 스크립트 3번 슬라이드 전체 너비 구하기 */
    height: 100%;
    display: flex;
    position: relative;
    left: 0;
    transition: left 0.5s;
    
}

.main_visual .slides_wrap .slides>div {
    position: relative;
    height: 100%;
    width: 100%;
}

.main_visual .slides_wrap .slides>div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main_visual .slides_wrap .slides>div p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;


}