@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

/*  */
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    color: #333; 
    min-width: 1920px;
    width: 100%;
}

header {
    height: 100px;
    width: 100%;
    /* background-color: rgb(255, 192, 109); */
    position: relative;
}

header .header {
    max-width: 1280px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

header .header h1 a img {
    /* height: 60px; */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}

header .header nav ul {
    text-align: center;
}

header .header nav ul li {
    display: inline-block;
    line-height: 100px;
}

header .header nav ul li a {
    padding: 0 15px;
}

header .header .search i {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

header .header .search span {
    position: absolute;
    left: -9999px;
}

header .header .all_menu i {

    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

header .header .all_menu>ul {
    position: absolute;
    right: 50px;
    top: 100px;
    background-color: #fff;
    padding: 20px 70px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    opacity: 0;
    /* transition: 0.8s; */
}

header .header .all_menu>ul li {
    line-height: 45px;

    font-size: 17px;
}

header .header .all_menu span {
    position: absolute;
    left: -999999px;
}

header .box {
    width: 100%;
    padding: 100px 0;
    box-sizing: border-box;
    background-color: rgb(236, 235, 229);
    position: absolute;
    top: 100px;
    left: 0;
    z-index: 9;
    display: none;
}

header .box>div {
    width: 960px;
    margin: 0 auto;
    background-color: aqua;
    position: relative;

}

header .box input[type="text"] {
    width: 100%;
    height: 60px;
    background-color: #fff;
    border: 0;
    padding: 0 20px;
    box-sizing: border-box;
}

header .box input[type="button"] {
    width: 100px;
    height: 60px;
    border: 0;
    background-color: rgb(255, 196, 0);
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;

}

.main_visual {
    height: calc(100vh - 100px);
}

.main_visual video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}



/* .cont01 */
.cont01 {
    display: flex;
    height: 100vh;
}

.cont01 img {
    display: block;
}

.cont01 .big_img {
    width: 50%;
    height: 100%;
}

.cont01 .big_img {
    height: 100%;
}

.cont01 .big_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cont01 .inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(50% - 200px);
    margin: 0 auto;
}

.cont01 .inner .title {
    margin-bottom: 40px;
}

.cont01 .inner .thumb {
    display: flex;
    justify-content: space-between;
}

.cont01 .inner .thumb>div {
    width: 32%;


}

.cont01 .inner .thumb figure {
    width: 100%;
    height: 300px;
}

.cont01 .inner .thumb figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* border-radius: 50%; */
    margin: 0 auto;
}

.fixed_btn {
    position: fixed;
    right: 50px;
    bottom: 50px;
}

.fixed_btn li {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    line-height: 70px;
    font-size: 14px;
    letter-spacing: -1px;
    cursor: pointer;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.4);
    margin: 10px 0;
}

.fixed_btn #mode {
    background-color: #000;
    color: #fff;
}

.notice {
    width: 500px;
    height: auto;
    background-color: #fff;
    position: fixed;
    z-index: 99;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.4);
}

.notice figure {
    width: 100%;
}

.notice figure img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    display: block;
}

.notice button {
    background-color: #fff;
    width: 100%;
    color: #000;
    padding: 20px 0;
    font-size: 16px;
    border: 0;
    cursor: pointer;
}

.click_bg {
    background-color: rgba(0, 0, 0, 0.4);
}





header .header {
    position: relative;
    height: 100%;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    display: flex;

    justify-content: space-between;
    align-items: center;
}


header .header h1 {
    font-size: 20px;
}

header .header nav ul {
    /* height: 100%; */
    display: flex;
    /* align-items: center; */
}

header .header nav ul li a {
    padding: 0 40px;
}

header .header i span {
    position: absolute;
    left: -99999px;
}

header .header .all_menu i {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

header .header #search i {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
}

header .header .all_menu ul {
    /* display: none; */
    position: absolute;
    right: 0px;
    top: 100px;
    background-color: #fff;
    padding: 20px 70px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    opacity: 0;
}

header .header .all_menu ul li {
    line-height: 45px;

    font-size: 17px;
}

#search_box {
    display: none;
}